* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

:root {
  font-size: 62.5%;
  
  --ff-texting: 'Palanquin', sans-serif;
  --ff-heading: 'Staatliches', cursive;


  --clr-text-dark: hsl(232, 17%, 35%);
  --bg-chips: hsl(312, 91%, 96%);
  --bg-header: hsl(218, 17%, 62%);
  --bg-body: hsl(233, 100%, 97%);
  --bg-logo-name: hsl(275, 18%, 79%);


}

body {
  background: var(--bg-body);
}

header {
  background: var(--bg-header);
}

main {
  padding: 3.2rem;
  animation: downtop 1500ms ease-out;

}
main p {
  font-size: 2rem;
  font-family: var(--ff-texting);
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--clr-text-dark);
  margin-bottom: 4rem;
}

.logo {
  background: var(--bg-header);
  position: relative;
  top: auto;
  left: auto;
  height: 28rem;
}

.logo .main {
  width: fit-content;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  z-index: 2;
  animation: showup 1000ms ease-in-out backwards

}

.rings {
  width: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  z-index: 1;
  

}

#ring-1 {
  animation: showup 2000ms ease-in-out backwards, ringsmove 5s infinite;

}

#ring-2 {
  animation: showup 2000ms ease-in-out backwards, ringsmove 5s reverse infinite;
}

.name h1 {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  letter-spacing: 2px;
}

.name {
  display: inline-block;
  width: 100%;
  background: var(--bg-logo-name);
  padding: 0.8rem;
  color: var(--bg-chips);
  margin-bottom: 3rem;
  animation: topdown 1000ms ease;

}

.grid {
  display: grid;

  gap: 3.2rem;
}

.card {
  position: relative;
}

.card img {
  border-radius: 2.0rem;

}

.small img {
  height: 25rem;
  object-fit: cover;
}

.big img {
  height: 45rem;
  object-fit: cover;
}

.card h5 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  font-family: var(--ff-heading);
  font-weight: 400;
  line-height: 3.4rem;
  color: var(--clr-text-dark);
  font-size: 2rem;
  padding: 0 2.4rem;
  background: var(--bg-chips);
  border-radius: 2rem;


}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ringsmove {
  0% {
    transform: translate3d(0px, 0px, 0px);

  }
  20% {
    transform: translate3d(3px, -5px, 1px);
  }
  
  50% {
    transform: translate3d(3px, 0px, 0px);
  }
  70% {
    transform: translate3d(-3px, 5px, 1px);
  }
  
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}